<dom-module name="task-list">
	
	<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
	<link rel="import" href="../bower_components/vaadin-elements/vaadin-elements.html">
	<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
	
	<style>
		width: 100%;
		height: 100%;
		
		vaadin-grid {
			width: 100%;
			height: 100%;
		}
	</style>
	
    <template>
        <div class="layout horizontal">
			<vaadin-grid id="content">
			</vaadin-grid>
        </div>
    </template>
    <script src="tasklist.js"></script>
</dom-module>
