<dom-module name="project-name">
	
	<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
	<link rel="import" href="../bower_components/paper-button/paper-button.html">
	
    <template>
        <div class="layout horizontal">
            <paper-button>Project Name</paper-button>
        </div>
    </template>
    <script src="projectname.js"></script>
</dom-module>
