<dom-module name="report-list">
	
	<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
	<link rel="import" href="../bower_components/paper-item/paper-item.html">
	<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
	<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
	
    <template>
        <div class="layout horizontal">
            <div><h2>Reports for</h2></div>
            <div class="flex" style="width: 25px;"></div>
            <paper-dropdown-menu label="Project">
			  <paper-menu class="dropdown-content">
			    <paper-item>Vaadin Framework</paper-item>
			    <paper-item>Vaadin TestBench</paper-item>
			    <paper-item>Vaadin TouchKit</paper-item>
			    <paper-item>Vaadin WorkHours</paper-item>
			  </paper-menu>
			</paper-dropdown-menu>
        </div>
    </template>
    <script src="reportlist.js"></script>
</dom-module>
