body {
	width: 100%;
	height: 100%;
	margin: 0px;
	spacing: 0px;
	padding: 25px;
	border: 25px;
	text-align: left;
}

.app-row {
	@apply(--layout-horizontal);
	justify-content: center;
	width: 100%;
	overflow: hidden;
}

/* Not used */
/* .app-row */ .rowContent {
	display: inline-flex;
	width: 100%;
}


/* .app-row*/ .left-child {
	@apply(--layout-flex-1);
	@apply(--layout-start-justified);
}

/* .app-row*/ .right-child {
	@apply(--layout-flex-1);
	@apply(--layout-end-justified);
}

/*.app-row*/ .center-child {
	@apply(--layout-flex-1);
	@apply(--layout-center-justified);
}
 
 