<dom-module name="bugrap-main">

	<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
	<link rel="import" href="../bower_components/paper-button/paper-button.html">
	<link rel="import" href="../distributionbar/distributionbar.html">
	<link rel="import" href="../logincontrols/logincontrols.html">
	<link rel="import" href="../projectname/projectname.html">
	<link rel="import" href="../reportlist/reportlist.html">
	<link rel="import" href="../tasklist/tasklist.html">

    <template>
        
        <style>
			#top-bar {
				height: 42px;
			}
        </style>
        
        <div id="content">
            
            <!-- Main layout level -->
			<div class="layout vertical">
			
				<div class="layout horizontal" id="top-bar">
					<project-name></project-name>
					<div class="flex"> <!-- spacer --> </div>
					<login-controls></login-controls>
				</div>
			
				<div class="layout horizontal">
	            	<report-list></report-list>
	            	<div class="flex" style="width: 50px"> <!--  spacer --> </div>
	            	<distribution-bar class="flex-3" id="distribution"></distribution-bar>
	            </div>
            
            	<div class="layout horizontal">
            		<task-list class="flex" id="tasks"></task-list>
            	</div>
            	
            	<div class="flex">
            		<!-- Spacer -->
            	</div>
            	
            	<div id="detailsPane" class="layout vertical">
	            	<div class="layout horizontal">
	            		Details
	            	</div>
            	</div>
            
            </div>
            
        </div>
    </template>
    <script src="bugrap-main.js"></script>
</dom-module>
