<dom-module name="distribution-bar">
	<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <template>
    	<div class="layout vertical">
	    	<div class="flex"></div>
	       	<div id="content" class="layout horizontal">
	           <!-- content is automatically inserted here by script -->
	        </div>
	        <div class="flex"></div>
        </div>
    </template>
    <script src="distributionbar.js"></script>
</dom-module>
