<dom-module name="login-controls">
	
	<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
	<link rel="import" href="../bower_components/paper-button/paper-button.html">
	
    <template>
        <div class="layout horizontal">
            <paper-button raised>Anoynmous User</paper-button>
            <paper-button raised>Logout</paper-button>
        </div>
    </template>
    <script src="logincontrols.js"></script>
</dom-module>
